# URL do seu Realtime Database (sem barra no fim)
DATABASE_URL=https://ninhada-bf659-default-rtdb.firebaseio.com
ROOM_ID=nosso-bebe

# Gere com: npx web-push generate-vapid-keys
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:voce@exemplo.com

# Ajustes (opcionais)
LOW_STATUS=25
REPEAT_HOURS=3
STREAK_HOUR=20
INTERVAL_MINUTES=15
